html, body {
  height: 100%;
  background-color: black;
}

#block1 {
    display: flex;
    flex-direction: row;
    height: 90%;
    width: 100%;
}

#left-side {
    height: 100%;
    width: 30%;
    display: flex;
    background-image: linear-gradient(black, #152525);
    justify-content: center;
    padding-top: 4%;
}

#right-side {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(black, #152525);
}

#menu {
    height: 10%;
    width: 100%;
    background-color: #303030;
    display: flex;
}

.menu-button {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.menu-items {
    font-size: 18px;
    line-height: 1;
    margin: 0;
    padding: 0;
}

.menu-button:hover {
    background-color: #084220;
}

a {
    color: white;
    text-decoration: none;
}

.active {
    text-decoration: underline;
    text-decoration-color: yellowgreen;
    text-underline-offset: 10px;
    text-decoration-thickness: 4px;
}

h1 {
    color: white;
}

#right-side img {
    max-width: 80%;
    height: auto;
    object-fit: cover;
    border-radius: 25px;
}

#name {
    position: absolute;
    left: 15%;
    top: 45%;
}

#hello {
    font-size: clamp(1.2rem, 3vw, 8rem);
    line-height: 0.9;
}

#my-name {
    font-size: clamp(1.2rem, 6vw, 10rem);
    line-height: 0.9;
}

#dev {
    display: inline-block;
    font-size: clamp(1.2rem, 1.4vw, 5rem);
    white-space: nowrap;
    background-color: #57C785;
    padding: 2.5% 6%;
    margin-top: 5%;
}

#dev p {
    color: black;
}

p {
    color: white;
    padding: 0px;
    margin: 0px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #151515;
    color: white;
    padding: 10px;
}

h2 {
    color: white;
}

#skillset {
    padding: 50px;
}

.technologies {
    padding: 25px 25px;
    align-items: center;
}

.technology-symbol {
    color: #57C785;
    letter-spacing: 4px;
}

.head {
    display: flex;
    justify-content: center;
    margin: 25px 35px 50px 35px;
}

.head img {
    width: 50px;
    height: 50px;
    margin-right: 25px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.skill {
    text-align: center;
    align-items: center;
    background-color: #111;
    border: 1px solid #333;
    border-radius: 15px;
    height: 220px;
    width: 300px;
    margin: 30px;
    transition: background-color 0.3s ease;
}

.skill img {
    height: 80px;
    width: 80px;
}

#figma img {
    width: 53px;
}

.icon {
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: space-around;
}

.icon-title {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    background-color: #0a6eb1;
    border-radius: 25px;
    height: 40px;
    min-width: 125px;
    padding: 0 20px;
    font-size: larger;
    font-weight: bold;
    letter-spacing: 2px;
}

.skill:hover {
    background-color: #151515;
}

#my-projects {
    background-color: #111;
    padding: 50px 0 65px 0;
    align-items: center;
}

#projects-head h2{
    color: #57c785;
    letter-spacing: 3px;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.project {
    display: inline-block;
    background-image: radial-gradient(#444, #909090);
    text-align: center;
    align-items: center;
    box-sizing: content-box;
    border: #909090 solid 2px;
    border-radius: 15px;
    height: 355px;
    width: 500px;
    margin-bottom: 30px;
    transition: background-color 0.3s ease;
    overflow: hidden;
}

.project img {
    height: auto;
    width: 500px;
}

.project-info {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px 0 5px 0;
}

.project-title {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    height: 50px;
    font-size: larger;
    font-weight: bold;
    letter-spacing: 2px;
}

.website-button {
    display: inline-flex;
    padding: 5px 15px;
    border-radius: 6px;
    background-color: #027dcd;
    transition: background-color 0.3s ease;
}

.website-button img {
    width: 20px;
    margin-right: 8px;
}

.website-button:hover {
    background-color: #0c5382;
}

#contact {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    padding: 100px 0 100px 0;
}

#contact-ways {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: right;
    align-items: center;
    margin-right: 5%;
}

#contact-ways-inner {
    display: flex;
    flex-direction: column;
}

.contact-way {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin: 15px 0 15px 0;
}

.contact-way img {
    display: flex;
    flex-direction: row;
    width: 50px;
    height: auto;
    margin: 0 10px;
}

#contact-way-whatsapp img {
    width: 48px;
    margin-left: 12px;
}

.contact-info {
    margin: 0 10px;
}

.contact-head h6 {
    padding: 0;
    margin: 0;
    color: #9f9f9f;
}

.contact-redirect a {
    padding: 0;
    margin: 0;
}

.contact-redirect a:hover {
    text-decoration: underline;
    text-decoration-color: #b0b0b0;
    text-underline-offset: 5px;
}

.contact-redirect a {
    font-size: 2em;
    color: #fff;
    font-weight: bold;
}

#email-me {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: left;
    margin-left: 5%;
}

#email-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #111;
    border: 1px solid #333;
    border-radius: 15px;
    padding: 15px 20px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.form-header {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 7px;
    margin-bottom: 10px;
} 

.input {
    margin: 11px 0 11px 0;
}

.input input {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: #fff;
    background-color: #222;
    border: 1px solid #666;
    border-radius: 15px;
    height: 35px;
    width: 350px;
    font-size: 15px;
    padding-left: 15px;
}

#message {
    padding-bottom: 25px;
}

::placeholder {
    color: #999;
}

#email-submit {
    background-color: #37a765;
    border: none;
    border-radius: 15px;
    padding: 7px;
    margin: 15px 0 18px 0;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#email-submit:hover {
    background-color: #00702d;
}

input:focus {
    border: 1px solid rgb(0, 235, 235);
    outline: none;
}

#message {
    height: 60px;
}

.form-header h6 {
    margin: 0;
}

.form-header img {
    width: 25px;
    margin-right: 8px;
}

@media screen and (max-width: 1025px) {
    #block1 {
        flex-direction: column;
        justify-content: center;
        background-image: radial-gradient(#1f201f, black);
    }

    #left-side {
        height: 25%;
        width: 100%;
        padding: 0;
        align-items: center;
        background-image: radial-gradient(#152525, black);
    }

    #right-side {
        height: auto;
        width: 100%;
        background-image: radial-gradient(#152925, black);
    }

    #name {
        position: static;
        height: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: radial-gradient(#152925, black);
    }

    #my-name {
        font-size: 50px;
        padding-top: 9px;
    }

    #dev {
        border-radius: 10px;
    }

    #skillset {
        padding: 0;
    }

    .skills {
        margin: 10px 0px;
    }

    .skill {
        width: 350px;
    }

    #contact {
        flex-direction: column;
        padding: 50px 0;
    }

    #contact-ways {
        width: 100%;
        height: 50%;
        justify-content: center;
        margin-right: 0;
        margin-bottom: 25px;
    }

    #email-me {
        width: 100%;
        height: 50%;
        justify-content: center;
        margin-top: 25px;
        margin-left: 0;
    }

    .input input {
        width: 300px;
    }
}

@media screen and (max-width: 670px) {
    .technologies {
        padding: 0 10px;
    }

    .skills {
        margin: 15px 25px 50px 25px;
    }

    .skill {
        margin: 15px 25px;
    }

    #my-projects {
        padding-left: 0;
        padding-right: 0;
    }

    .projects {
        padding: 0;
        margin: 0;
    }

    .project {
        height: 280px;
        width: 350px;
    }

    .project-info {
        margin-bottom: 15px;
    }

    .project-preview img {
        max-width: 100%;
        height: auto;
    }

    .contact-redirect a {
        font-size: 1.5em;
    }
}
